{% macro displayPitches(pitches_list)%}
    {%for pitch in pitches_list%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg">
                <h4>{{pitch.pitch_title}}</h4>
                <p>{{pitch.pitch_content| truncate(100)}}</p>
                
                <button type="button" class="btn btn-primary"><a href="{{url_for('main.form', id= pitch.id)}}" style="color:white; font-weight:bolder;">Comment</a></button>
            </div>
        </div>
    {%endfor%}
{%endmacro%}

{%macro displayComments(comments_list)%}
    {%for comment in comments_list%}
        <div class="col-md-6">
           
            <p>{{comment.comment}}</p>
        </div>
    {%endfor%}
{%endmacro%}